
body {
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
    background-color: gray;
}

#input-word {
    margin-bottom: 6%;
}

#div-words {
    margin-bottom: 1%;
    margin-right: 10%;
}

#div-verbs {
    margin-bottom: 3%;
    margin-right: 10%;
}

#div-sentences {
    margin-top: 5%;
    margin-right: 10%;
    
}
